

h1 {
  font-size: 70px;
  color: white;
  text-align: center;
}

.foodmap {
	background-image:url(../assets/img/food2.jpg);
	background-size:cover;
	height:100vh;
	margin:0 auto;
	width:100%;
  font-size: 20px;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

header {
  width: 100%;
  height: 60px;
  background: black;
  padding: 10px;
  border-radius: 6px;
}

#input-search {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  color: white;
}

.content-search {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  background: rgba(0,0,0,0.3);
  display: none;
  font-weight: bold;

}

.content-table {
  width: 100%;
  max-height: 100vh;
  height: auto;
  background: rgba(0,0,0,0.3);
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: visible;
}

.content-table table {
  width: 100%;
}

tbody tr td a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


tbody tr td a:hover {
  background: rgba(0,0,0,0.3);
}


#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}

#table > thead > tr > td {
  display: none;
margin: 0 auto;
}

#table > tbody > tr:nth-child(3) {
  margin: 0 auto;
}
