<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FOODMAP</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="http://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.css" rel="stylesheet">
<script src="js/jquery.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
</head>
<body>
	<div class="container responsive-img">
		<div class="row foodmap" alt="mapa">
			<div class="col s12">
					<h1> FOODMAP </h1>
	          <!-- Mopa -->
						<div class="container responsive-img">
					   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.817215681844!2d-99.16530268552586!3d19.420301986891268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff41d4c73813%3A0xd1c6f4fcad149f54!2sLaboratoria+Coding!5e0!3m2!1ses-419!2smx!4v1516467026201" width="700" height="500" frameborder="0" style="border:0">
				     </iframe>
						  </div>
							<div class="container responsive-img">
							<div class="row">
								<div class="col s12">
	             <input type="search" id="input-search" placeholder="¿Que se te antoja?">
				    <div class="content-search">
				      <div class="content-table">
				        <table id="table">
				          <thead>
				            <tr>
				              <td><a href="#"></a></td>
				            </tr>
				          </thead>
				            <tbody>
				               <tr>
				                 <td>
				                   <a href="modal-action/index.html"><img src="./assets/img/food11.jpg" height="100px" width="100px" alt="Salad">Saludable</a>
				                 </td>
				               </tr>
											 <tr>
				                 <td>
				                   <a href="modal-action2/index.html"><img src="./assets/img/food3.jpg" height="100px" width="100px" alt="Hamburguers">Fast Food</a>
				                 </td>
				               </tr>
											 <tr>
				                 <td>
				                   <a href="modal-action3/index.html"><img src="./assets/img/foodramen.jpg" height="100px" width="100px" alt="Ramen-soup">Oriental</a>
												 </td>
				               </tr>
											 <tr>
				                 <td>
				                   <a href="modal-action4/index.html"><img src="./assets/img/food4.jpg" height="100px" width="100px" alt="Gourmet">Gourmet</a>
				                 </td>
				               </tr>
											 <tr>
												<td>
													<a href="modal-action5/index.html"><img src="./assets/img/foodpizza.jpg" height="100px" width="100px" alt="Pizza">Italiano</a>
												</td>
											</tr>
											<tr>
											 <td>
												 <a href="modal-action6/index.html"><img src="./assets/img/food6.jpg" height="100px" width="100px" alt="Smoothie">Fuente de sodas</a>
											 </td>
										 </tr>
				            </tbody>
				        </table>
				      </div>
				    </div>
					</div>
				</div>
			</div>
			</div>
     <script src="js/search.js"></script>
	 </div>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
