
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Saludable</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery.js"></script>
</head>
<body>
<div class="container-fluid" class="responsive-img">
	<div class="row">
		<div class="card">
			<div class="card-image">
				<img src="assets/img/food3.jpg">
				<span style="font-size: 40px" class="card-title">Hip Hip Burguers</span>
			</div>
		</div>
	</div>
</div>
</div>
<div class="container">
<div class="card-content">
	<div class="row">
		<div class="col s6">
			<p>
				BLUE CHEESE BURGER 200 gr. de Sirloin Angus, blue cheese, arúgula y lajas de queso parmesano
			</p>
		</div>
		<div class="col s6 offset s-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8174353362197!2d-99.1601139!3d19.4202925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3750e4f051%3A0x8441e1e8468aff68!2sBreakfast+Roma!5e0!3m2!1ses-419!2smx!4v1516733040235" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
			<p> BREAKFAST ROMA
				<br>
				 Dirección:
         Orizaba 76
			</p>
		</div>
	</div>
	<div class="card-action">
	</div>
</div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
	<h4>TU PEDIDO VA EN CAMINO</h4>
	<img src="assets/img/food1.jpg" width="750px" height="400px">
</div>
<div class="modal-footer">
	<a href="../vistasplash.html" class="modal-action modal-close grey align-right light-grey btn-large">IR AL INICIO</a>
</div>
</div>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/app.js"></script>
<footer>
	<div class="container-btn">
		<div class="row">
			<div class="col s8 offset-s4">
      <a class="waves-effect grey btn-large" href="../vistasplash.html"> < regresar</a>
			<a class="waves-effect waves-light grey btn-large modal-trigger" href="#modal1">¡PEDIR AHORA!</a>
		</div>
		</div>
			</div>
</footer>
</body>
</html>
